body{
    width: 100%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    background-image: url(../images/backdrop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
}

#board-container{
    width: 900px;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-image: url(../images/backsplash-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: solid 2px black;
}

#logo{
  position: absolute;
  top: 10px;
  font-size: 45px;
  left: 660px;
  color: rgba(0,0,0,0.6);
  text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}

#level1{
    margin: auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.label{
  font-size: 48px;
}

.fa-github:hover{
  color: darkgrey;
}

button{
    width: 100px;
    height: 50px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: darkgrey;
    margin-left: 10px;
    margin-right: 10px;
}

#level2{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

#score{
    width: 250px;
    height: 50px;
    border: 1px solid aqua;
    border-radius: 3px;
    background-color:rgba(0, 0, 0, 0.5);
    font-size: 24px;
    color: white;
    margin-right: 5px;
    padding-top: 7px;
    box-sizing: border-box;
}

#timer{
    width: 250px;
    height: 50px;
    border: 1px solid aqua;
    border-radius: 3px;
    background-color:rgba(0, 0, 0, 0.5);
    font-size: 24px;
    color: white;
    margin-right: 5px;
    padding-top: 7px;
    box-sizing: border-box;
}

#round{
    width: 250px;
    height: 50px;
    border: 1px solid aqua;
    border-radius: 3px;
    background-color:rgba(0, 0, 0, 0.5);
    font-size: 24px;
    color: white;
    margin-right: 5px;
    padding-top: 7px;
    box-sizing: border-box;
}

#level3{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

#board-list{
  width: 400px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: auto;
  display: flex;
  flex-flow: wrap column;
  max-height: 175px;
}

.word{
  width: 100px;
}

.letter{
  width: 15px;
  background-color: white;
  border: .5px solid black;
  min-width: 15px;
  min-height: 20px;
  box-shadow:
  inset 0 1px 0 rgba(255,255,255,0.5),
  0 2px 2px rgba(0,0,0,0.3),
  0 0 4px 1px rgba(0,0,0,0.2),
  inset 0 3px 2px rgba(255,255,255,.22),
  inset 0 -3px 2px rgba(0,0,0,.15),
  inset 0 20px 10px rgba(255,255,255,.12),
  0 0 4px 1px rgba(0,0,0,.1),
  0 3px 2px rgba(0,0,0,.2);
  transition: .5s;
  margin-right: 2px;
  margin-top: 2px;
}

.hidden-letter{
  display: none;
  transition: .5s;
}

ul[id*="word-"]{
  display: flex;
}

#personal-site{
    width: 125px;
}

#personal-site:hover{
  color: darkgrey;
}

#word-board{
    width: 450px;
    height: 200px;
    border: 1px solid aqua;
    border-radius: 3px;
}


#linkedin{
    width: 125px;
}

#linkedin:hover{
  color: darkgrey;
}

#level4{
    margin: auto;
    margin-bottom: 15px;
}

#guessing-area{
    width: 450px;
    height: 75px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slet-under-guess{
    width: 75px;
    background-color: #57C0EF;
    border: 2px solid white;
    border-radius: 3px;
    height: 75px;
    margin-left: 0.5px;
    margin-right: 0.5px;
    box-sizing: border-box;
}


#level5{
    margin: auto;
    margin-bottom: 15px;
}

#scrambled{
    width: 450px;
    height: 50px;
    border-radius: 3px;
    display: flex;
    position: relative;
}

#floating-objects{
    position: relative;
}

.slet-under{
    position: absolute;
    width: 35px;
    margin-left: 10px;
    height: 35px;
    margin-right: 2px;
    border-radius: 50%;
    background-color: yellow;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.5),
    0 2px 2px rgba(0,0,0,0.3),
    0 0 4px 1px rgba(0,0,0,0.2),
    inset 0 3px 2px rgba(255,255,255,.22),
    inset 0 -3px 2px rgba(0,0,0,.15),
    inset 0 20px 10px rgba(255,255,255,.12),
    0 0 4px 1px rgba(0,0,0,.1),
    0 3px 2px rgba(0,0,0,.2);
}

#slet-sec{
    position: relative;
    display: flex;
    width: 450px;
    justify-content: space-between;
    align-items: center;
}

.slet{
    position: absolute;
    width: 50px;
    top: -10px;
    left: -10px;
    z-index: 3;
    height: 50px;
    text-align: center;
    font-size: 34px;
    margin-right: 2px;
    padding-top: 3px;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.5),
    0 2px 2px rgba(0,0,0,0.3),
    0 0 4px 1px rgba(0,0,0,0.2),
    inset 0 3px 2px rgba(255,255,255,.22),
    inset 0 -3px 2px rgba(0,0,0,.15),
    inset 0 20px 10px rgba(255,255,255,.12),
    0 0 4px 1px rgba(0,0,0,.1),
    0 3px 2px rgba(0,0,0,.2);
}

#level6{
    margin: auto;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

#sound-button{
  background-color: rgb(26, 127, 167);
  width: 125px;
  height: 50px;
  border: 1px solid yellow;
  margin-bottom: 10px;
  border-radius: 3px;
  box-shadow:
  inset 0 1px 0 rgba(255,255,255,0.5),
  0 2px 2px rgba(0,0,0,0.3),
  0 0 4px 1px rgba(0,0,0,0.2),
  inset 0 3px 2px rgba(255,255,255,.22),
  inset 0 -3px 2px rgba(0,0,0,.15),
  inset 0 20px 10px rgba(255,255,255,.12),
  0 0 4px 1px rgba(0,0,0,.1),
  0 3px 2px rgba(0,0,0,.2);
}

#sound-button:hover{
  background-color: rgb(104, 127, 167);
}

#twist{
    background-color: rgb(26, 127, 167);
    width: 125px;
    height: 50px;
    border: 1px solid yellow;
    margin-bottom: 10px;
    border-radius: 3px;
    box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.5),
    0 2px 2px rgba(0,0,0,0.3),
    0 0 4px 1px rgba(0,0,0,0.2),
    inset 0 3px 2px rgba(255,255,255,.22),
    inset 0 -3px 2px rgba(0,0,0,.15),
    inset 0 20px 10px rgba(255,255,255,.12),
    0 0 4px 1px rgba(0,0,0,.1),
    0 3px 2px rgba(0,0,0,.2);
}

#twist:hover{
  background-color: rgb(104, 127, 167);
}

#last{
    background-color: rgb(26, 127, 167);
    width: 125px;
    height: 50px;
    border: 1px solid yellow;
    border-radius: 3px;
    box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.5),
    0 2px 2px rgba(0,0,0,0.3),
    0 0 4px 1px rgba(0,0,0,0.2),
    inset 0 3px 2px rgba(255,255,255,.22),
    inset 0 -3px 2px rgba(0,0,0,.15),
    inset 0 20px 10px rgba(255,255,255,.12),
    0 0 4px 1px rgba(0,0,0,.1),
    0 3px 2px rgba(0,0,0,.2);
}

#clear{
    background-color:rgb(26, 127, 167);
    width: 125px;
    height: 50px;
    border: 1px solid yellow;
    border-radius: 3px;
    box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.5),
    0 2px 2px rgba(0,0,0,0.3),
    0 0 4px 1px rgba(0,0,0,0.2),
    inset 0 3px 2px rgba(255,255,255,.22),
    inset 0 -3px 2px rgba(0,0,0,.15),
    inset 0 20px 10px rgba(255,255,255,.12),
    0 0 4px 1px rgba(0,0,0,.1),
    0 3px 2px rgba(0,0,0,.2);
}

#enter{
    background-color: rgb(26, 127, 167);
    width: 125px;
    height: 50px;
    border: 1px solid yellow;
    border-radius: 3px;
    box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.5),
    0 2px 2px rgba(0,0,0,0.3),
    0 0 4px 1px rgba(0,0,0,0.2),
    inset 0 3px 2px rgba(255,255,255,.22),
    inset 0 -3px 2px rgba(0,0,0,.15),
    inset 0 20px 10px rgba(255,255,255,.12),
    0 0 4px 1px rgba(0,0,0,.1),
    0 3px 2px rgba(0,0,0,.2);
}

.let-0{
    top: -30px;
    left: 10px;
    transition: .5s;
}

.let-1{
    top: -30px;
    left: 85px;
    transition: .5s;
}
.let-2{
    top: -30px;
    left: 160px;
    transition: .5s;
}
.let-3{
    top: -30px;
    left: 235px;
    transition: .5s;
}
.let-4{
    top: -30px;
    left: 310px;
    transition: .5s;
}
.let-5{
    top: -30px;
    left: 385px;
    transition: .5s;
}


.under-0{
    top: 0px;
    left: 10px;
}

.under-1{
    top: 0px;
    left: 85px;
}

.under-2{
    top: 0px;
    left: 160px;
}

.under-3{
    top: 0px;
    left: 235px;
}

.under-4{
    top: 0px;
    left: 310px;
}

.under-5{
    top: 0px;
    left: 385px;
}


.guess-0{
    top: -103px;
    left: 10px;
    transition: .5s;
}

.guess-1{
    top: -103px;
    left: 85px;
    transition: .5s;
}
.guess-2{
    top: -103px;
    left: 160px;
    transition: .5s;
}
.guess-3{
    top: -103px;
    left: 235px;
    transition: .5s;
}
.guess-4{
    top: -103px;
    left: 310px;
    transition: .5s;
}
.guess-5{
    top: -103px;
    left: 385px;
    transition: .5s;
}

#target{
    position: absolute;
    z-index: -1;
    opacity: .1;
}

.new-game{
  position: absolute;
  list-style: none;
  top: 200px;
  left: 240px;
}

#new-game-button{
  width: 400px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

#leaderboard-container{
  margin-right: auto;
  margin-left: 10px;
  margin-top: 100px;
  width: 250px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

#instructions-container{
  margin-right: 10px;
  margin-left: auto;
  margin-top: 100px;
  width: 250px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#instructions-container ul li{
  margin-left: 3px;
  text-align: left;
}
#instructions-container ul li:last-child{
  margin-left: 3px;
  text-align: center;
  font-size: 18px;
}

#instructions-container span{
  font-size: 18px;
}
#leaderboard-container span{
  font-size: 18px;
}

.new-game{
  display: flex;
  flex-direction: column;
}

#username{
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 400px;
  margin-top: 5px;
  margin-left: 10px;
  color: white;
  border-radius: 8px;
}

#congrats{
  margin-top: 175px;
  margin-left: 10px;
  background-color: black;
  height: 50px;
  color: white;
  padding-top: 15px;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
  border-radius: 8px;
}

#personal-site-bot{
  margin-bottom: 10px;
}

#personal-site-bot:hover{
  color: darkgrey;
}
